$styleguide-color-red: #e6000f;
$styleguide-typography-button-color: #000000;
$styleguide-typography-icon-color: #303030;
$styleguide-transparent-color: rgba(0, 0, 0, 0.6);
$styleguide-surface-color: #f2f2f2;
$styleguide-header-font-color: #5a5a5a;
$styleguide-header-font-color-2: #111111;
$styleguide-header-font-color-3: #0F0F0F;
$styleguide-surface-border-color: rgba(221, 221, 221, 1);
$styleguide-surface-border-color-accent: #707070;
$styleguide-border-color: #d9d9d9;
$styleguide-border-color-accent: #707070;
$styleguide-font-color: #313131;
$styleguide-font-color-faint: #848484;
$styleguide-icon-color: #303030;

$dx-border-color: #dddddd;



$hover-color: #a4a3a3;
$main-menu-item-background: $styleguide-surface-color;
$main-menu-item-active-background: $styleguide-surface-color;
$main-menu-item-color: #000000;
$main-menu-item-active-color: red;
$main-menu-item-separator: white;
$menu-icon-separator: #cbcbcb; //#707070

$toggle-button-icon-active: #e6000f;
$tabbar-border: #eeeeee;
$tabbar-active: #000000;
$tabbar-text-inactive-color: #000000;
$tabbar-text-active-color: #ffffff;

$project-tabbar-button: #202020;
$project-tabbar-button-active: #ffffff;
$project-tabbar-text-color: #ffffff;
$project-tabbar-active-text-color: #000000;

$project-media-color1: #B4B4B4;

$image-uploader-border: #aaaaaa;


$info-panel-background-color: #eeeeee;

$cart-background-color: #eeeeee;
$open-cart-button-background-color: #000000;
$open-cart-button-font-color: #ffffff;

$email-dispatch-form-border-color: #dddddd;
$companies-table-area-slider-border-color: #dddddd;
$inquiry-detail-vertical-line-color: #dddddd;
$history-content-border-color: #dddddd;
$boilerplate-list-item-color: #cfcbcb;
$history-expand-button-background-color: #000000;
$history-expand-button-icon-color: #ffffff;

$header-background: #0068d7;
$header-color: white;

$fake-rating: #ffcccc;

$table-content-font-color: #5a5a5a;
